.img {
  width: 100%;
}
.content {
  font-family: 'Arial';
  a {
    text-decoration: none;
    color: blue;
    &:hover {
      opacity: 0.6;
    }
  }
  h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
}
